<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/7.1.0/fuse.basic.min.js"
    integrity="sha512-vBUkjPUol2ttHVXSBuFOqF4yOfqKxL6hnAuGS5dytyle9fxbB+lfaE1T5s+I8Aoe/xU5IuQd/wqS5Sv7lc7xgg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $game := resources.Get "js/game.js" }}
{{ $players400 := resources.Get "js/players400.js" }}
{{ $players250 := resources.Get "js/players250.js" }}
{{ $playersKatowice24 := resources.Get "js/playersKatowice24.js" }}

{{ $jsHard := resources.Concat "js/bundle-hard.js" (slice $players400 $game) | minify }}
{{ $jsKatowice24 := resources.Concat "js/bundle-katowice-24.js" (slice $playersKatowice24 $game) | minify }}
{{ $js := resources.Concat "js/bundle.js" (slice $players250 $game) | minify }}

{{ if eq .Layout "easy-mode"}}
    <script src="{{ $js.RelPermalink }}"></script>
{{ else if eq .Layout "katowice" }}
    <script src="{{ $jsKatowice24.RelPermalink }}"></script>
{{ else if eq .Layout "hard-mode" }}
    <script src="{{ $jsHard.RelPermalink }}"></script>
{{ else if eq .Layout "daily" }}
    <script src="{{ $jsHard.RelPermalink }}"></script>
{{ end }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/regular.min.css"
    integrity="sha512-KYEnM30Gjf5tMbgsrQJsR0FSpufP9S4EiAYi168MvTjK6E83x3r6PTvLPlXYX350/doBXmTFUEnJr/nCsDovuw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css"
    integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css"
    integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
