<div id="player-display" onclick="playersList()">
    here
</div>
<div id="countdown-display" onclick="playersList()">
    <div id="number-of-tries">5</div> tries left.
</div>
<div id="autocomplete-search-box">
    <input id="player_tag" name="player_tag" type="text" placeholder="guess here" onKeyUp="search()" />
    <ul id="search-result"></ul>
</div>
<button name="submit" onclick="guess(document.getElementById('rank').value)">
    Guess
</button>
<button name="reset" onclick="reset()">
    Reset Game
</button>

<div id="result-display">

</div>