<div id="countdown-display" onclick="playersList()">
    <b>5</b> tries left.
</div>
<div id="autocomplete-search-box">
    <input id="player_tag" name="player_tag" type="text" placeholder="guess here" onKeyUp="search()" />
    <ul id="search-result"></ul>
</div>
<div class="button-container">
    <button name="submit" class="button" onclick="guess(document.getElementById('player_tag').value)">
        Guess
    </button>
    <button name="reset" class="button" onclick="reset()">
        Reset Game
    </button>
</div>

<table id="result-display" cellpadding="0" cellspacing="0" border="0" style="clear: both;">
    <th>Tag</th>
    <th>Race</th>
    <th>Country</th>
    <th>$$$</th>
    <th>Rating</th>
    <th>Age</th>
    <th>Active</th>
</table>

<br />

<div id="player-display" class="column-text" onclick="playersList()">
    Click here to load Player List.
</div>