<div id="countdown-display" onclick="playersList()">
    <b>5</b> tries left.
</div>
<div id="autocomplete-search-box" role="combobox">
    <input id="player_tag" name="player_tag" type="text" placeholder="guess here" onKeyUp="search(event)" role="textbox"
    aria-controls="search-result" aria-expanded="true" />
    <ul id="search-result" role="listbox"></ul>
</div>
<div class="button-container">
    <button name="submit" class="button" onclick="guess(document.getElementById('player_tag').value)">
        Guess
    </button>
    <button id="reset-btn" name="reset" class="button" onclick="reset()">
        Reset Game
    </button>
</div>

<table id="result-display" cellpadding="0" cellspacing="0" border="0" style="clear: both;">
    <th>Tag <i class="fa-regular fa-circle-question fa-sm tooltip" title="Name player goes by"></i></th>
    <th>Race</th>
    <th>Country</th>
    <th>$$$ <i class="fa-regular fa-circle-question fa-sm tooltip" title="Tournament earnings according to Aligulac"></th>
    <th>Rating <i class="fa-regular fa-circle-question fa-sm tooltip" title="Rating according to Aligulac"></th>
    <th>Age</th>
    <th>Active <i class="fa-regular fa-circle-question fa-sm tooltip" title="Inactive if no tournament games for ~2 months"></i></th>
</table>

<br />

<p>
<details id="playerListDetails" onmouseup="playersList(); this.onmouseup=null;">
    <summary>Player List (by earnings)</summary>
    <div id="player-display" class="column-text">
        Click here to load 
    </div>
</details>
</p>
<p>
    <div id="howToPlayLink">
        <a onclick="howToPlayDialog()"><i class="fa-regular fa-circle-question"></i> How To Play</a>
    </div>
</p>

<dialog id="socialDialog">
    <i id="socialDialogX" class="fa-regular fa-circle-xmark" style="float: right;"></i>
    <div class="unselectable">Share on Twitter/Bluesky:<br /><br /></div>
    <div id="socialTwitterText"></div>
    <br />
    <button autofocus id="socialDialogButton" class="button">Close</button>
</dialog>

<dialog id="howToPlay">
    <i id="howToPlayX" class="fa-regular fa-circle-xmark" style="float: right;"></i>
    <h3>How to play:</h3>
    <div id="howToPlayText">
        Guess the SC2 Pro is all about guessing a SC2 player.
        You will get hints initially from which you need to determine the player.
        <p>
            <img src="/img/how_to_play_1.png" alt="image showing initial game state"
            loading="lazy" />
        </p>
        Once you make a guess, if it is wrong, you will see what mismatched compared to the mystery player.
        Fo reference you can always expand the "Player List" in the bottom, it is sorted by tournament winnings.
        <p>
            <img src="/img/how_to_play_2.png" alt="image showing initial game state"
            loading="lazy" />
        </p>
        Guess correctly within the allowed number of guesses, you win.
        Play again by pressing "Reset Game".
        <p>
            <img src="/img/how_to_play_3.png" alt="image showing initial game state"
            loading="lazy" />
        </p>
    </div>
    <br />
    <button autofocus id="howToPlayClose" class="button">Close</button>
</dialog>