<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/7.0.0/fuse.basic.min.js"
    integrity="sha512-ZCEyk/CZ+XgbCFGD1GWCR5G9lJaBtTHwhaaq8DNSYKLEJMb9N3D7zMQHpAPde/0X3qBJDVp6RUxHcp6xUnVUMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $game := resources.Get "js/game.js" }}
{{ $players400 := resources.Get "js/players400.js" }}
{{ $players250 := resources.Get "js/players250.js" }}
{{ $playersKatowice24 := resources.Get "js/playersKatowice24.js" }}

{{ $jsHard := resources.Concat "js/bundle-hard.js" (slice $players400 $game) | minify }}
{{ $jsKatowice24 := resources.Concat "js/bundle-katowice-24.js" (slice $playersKatowice24 $game) | minify }}
{{ $js := resources.Concat "js/bundle.js" (slice $players250 $game) | minify }}

{{ if eq .Layout "easy-mode"}}
    <script src="{{ $js.RelPermalink }}"></script>
{{ else if eq .Layout "katowice" }}
    <script src="{{ $jsKatowice24.RelPermalink }}"></script>
{{ else if eq .Layout "hard-mode" }}
    <script src="{{ $jsHard.RelPermalink }}"></script>
{{ end }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/regular.min.css"
    integrity="sha512-TzeemgHmrSO404wTLeBd76DmPp5TjWY/f2SyZC6/3LsutDYMVYfOx2uh894kr0j9UM6x39LFHKTeLn99iz378A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css"
    integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="text/css">
    #autocomplete-search-box {
        width: 50%;
        margin-left: 25%;
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        scrollbar-width: none;
    }

    #autocomplete-search-box #player_tag {
        width: 100%;
        height: 4px;
        padding: 20px 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 18px;
    }

    #autocomplete-search-box #search-result {
        width: 100%;
        padding: 0;
        margin: 0;
        max-height: 150px;
        overflow: scroll;
        scrollbar-width: none;
    }

    #autocomplete-search-box #search-result li {
        width: 100%;
        list-style-type: none;
        padding: 5px 20px;
    }

    #autocomplete-search-box #search-result li:hover {
        background: #3498db;
        color: white;
    }

    #search-result li:focus {
        background: #3498db;
        color: white;
    }

    .column-text {
        column-width: 10em;
        column-rule: 1px solid rgb(75, 70, 74);
    }

    #result-display {
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;
        border: none;
        border-radius: .75rem;
    }

    .win-loss-display {
        text-align: center;
    }

    .green {
        background-color: #d1ffcc;
        color: #333;
    }

    .yellow {
        background-color: #fff7cc;
        color: #333;
    }

    .red {
        background-color: #fad1d1;
        color: #333;
    }

    .button-container {
        text-align: center;
    }

    .button {
        display: inline-flex;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 0.0625rem solid;
        border-radius: 6.25rem;
        padding: 0 1.5rem;
        min-height: 2rem;
        font-weight: bold;
        font-size: 0.875rem;
        margin: 8px;
        margin-bottom: 12px;
    }

    .unselectable {
        user-select: none
    }

    [data-tooltip]:hover {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    [data-tooltip]:hover::after {
        display: block;
        position: absolute;
        content: attr(data-tooltip);
        border: 1px solid black;
        background: #eee;
        padding: .25em;
      }
</style>